/****************************************
  full width teaser
****************************************/

.fullWidthTeaser {
  margin: 0px;
  padding: 65px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-bottom-left-radius: 50% 76px;
  border-bottom-right-radius: 50% 76px;
  border-top-left-radius: 50% 76px;
  border-top-right-radius: 50% 76px;
  border-bottom: 2px solid #b5b2c2;
  border-top: 2px solid #b5b2c2;
}
.fullWidthTeaser h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
.fullWidthTeaser h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
.fullWidthTeaser p {
  font-size: 16px;
  color: #333;
  margin-bottom: 18px;
}
.fullWidthTeaser ul {
  padding-left: 20px;
}
.fullWidthTeaser .grnBtn {
  margin: 15px 28px 5px 0;
}
.fullWidthTeaser a.grnLink:hover,
.fullWidthTeaser a.grnLink {
  font-size: 13px;
  font-weight: 400;
  color: #1d9e74;
  text-decoration: none;
  text-transform: uppercase;
}


@media all and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
  .col-md-3.col-sm-10.col-xs-12 {
    margin-top: 20px;
  }
  .fullWidthTeaser h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
  }
}
