/****************************************
  full width hero with curved border visuals
****************************************/

.fullContainer {
    width: 100%;
}
.heroFullCurvedContainer {
    position: relative;
    max-width: 1440px;
    /* min-width: 1024px;*/
    height: 538px;
    margin: 0px auto;
    background-position: center;
}
.heroFullCurvedContainer .heroContent {
    width: 1024px;
    text-align: center;
    margin: 0px auto;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}
.left-col .heroFullCurvedContainer .heroContent {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
}
.main-hero .heroFullCurvedContainer.curve-top {
    border-top-left-radius: 50% 76px;
    border-top-right-radius: 50% 76px;
    margin: 0px auto;
}
.main-hero .heroFullCurvedContainer.curve-bottom {
    border-bottom-left-radius: 50% 76px;
    border-bottom-right-radius: 50% 76px;
    /*margin-left: -10px;*/
    width: 1476px;
}
.heroFullCurvedContainer .botContent {
    position: absolute;
    bottom: 0px;
    height: 111px;
    width: 100%;
    overflow: hidden;
    /*border-bottom-left-radius: 50% 76px;
    border-bottom-right-radius: 50% 76px;*/
    background-color: rgba(69,54,125,0.6);
}
.violetBG {
    border-bottom-left-radius: 50% 76px;
    border-bottom-right-radius: 50% 76px;
}
.heroFullCurvedContainer .heroContent h4,
.heroFullCurvedContainer .heroContent h3,
.heroFullCurvedContainer .heroContent h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
}
.heroFullCurvedContainer .heroContent h3 {
    font-size: 20px;
    margin: 0px;
}
.heroFullCurvedContainer .heroContent h2 {
    font-size: 36px;
    margin: 0 0 15px 0;
}
.heroFullCurvedContainer .heroContent h4 {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 25px 0;
}
.heroFullCurvedContainer .botContent p {
    width: 720px;
    height: 90px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 10px 30px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}
@media all and (max-width: 1360px) {

}
@media all and (max-width: 1024px) {

}
@media all and (max-width: 768px) {

    .heroFullCurvedContainer .heroContent {
        padding-left: 40px;
        padding-right: 40px;
    }
    .left-col .heroFullCurvedContainer .heroContent {
        padding-left: 40px;
        padding-right: 40px;
    }

    .heroFullCurvedContainer .heroContent {
        padding-top: 275px;
        padding-bottom: 135px;
    }
    .heroFullCurvedContainer,
    .heroContent {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .heroFullCurvedContainer {
        height: auto;
        padding-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-size: 770px 260px !important;
        background-position: 0px top;
    }

    .heroFullCurvedContainer .heroContent h4,
    .heroFullCurvedContainer .heroContent h3,
    .heroFullCurvedContainer .heroContent h2 {
        padding: 0 15px;
    }
    .heroFullCurvedContainer .heroContent h3 {
        font-size: 18px;
        color: #9d9c9c;
        margin-bottom: 5px;
    }
    .heroFullCurvedContainer .heroContent h2 {
        font-size: 25px;
        color: #333;
    }
    .heroFullCurvedContainer .heroContent h4 {
        font-size: 14px;
        margin-bottom: 10px;
        color: #333;
    }
    .heroFullCurvedContainer .botContent {
        position: absolute;
        bottom: 0px;
        height: 111px;
        width: 100%;
        overflow: hidden;
        border-bottom-left-radius: 100% 70px;
        border-bottom-right-radius: 100% 70px;
        background-color: rgba(69,54,125,1);
    }
    .heroFullCurvedContainer .botContent p {
        width: 70%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        padding: 25px 15px 5px 15px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #fff;

    }
    .heroFullCurvedContainer {
        border-bottom-left-radius: 100% 70px !important;
        border-bottom-right-radius: 100% 70px !important;
    }

    .heroFullShortContainer .myCalix {
        top: 38px;
    }
    .heroFullCurvedContainer .grnBtn {
        margin: 10px 0 25px 0;
    }
    .main-hero .heroFullCurvedContainer.curve-top {
        border-top-left-radius: 50% 7%;
        border-top-right-radius: 50% 7%;
        margin: 0px auto;
    }
    .main-hero .heroFullCurvedContainer.curve-bottom {
        border-bottom-left-radius: 42% 6%;
        border-bottom-right-radius: 42% 6%;
        margin: 0px auto;
    }
}
/*
@media all and (max-width: 375px) {

    .heroFullCurvedContainer {
        background-size: 690px 240px;
        background-position: -100px top;
    }
    .heroFullCurvedContainer .heroContent {
        padding-top: 565px;
    }
    .heroFullCurvedContainer .grnBtn {
        margin: 10px 0 25px 0;
        width: 60%;
    }

    .heroFullCurvedContainer .heroContent h3 {
        color: #9d9c9c;
    }

    .heroFullCurvedContainer .heroContent h2 {
        color: #333;
    }

    .heroFullCurvedContainer .heroContent h4 {
        color: #333;
    }
    .heroFullCurvedContainer .botContent {
        background-color: rgba(69,54,125,1);
    }
}
*/
